 #include <Arduino.h>
 
class Secrets{
    public:
     String gID = "your_google_script_id";
     String discord_chanel = "your_discrod_hook";
     String  update_server = "your_update_server";
};