 #include <Arduino.h>
 
class Secrets{
    public:
     String influx_url = "your_influxdb_url";
     String influx_token = "your_influxdb_token";
     String discord_url = "your_discord_hook";
     String  update_server = "your_update_server";
};