 #include <Arduino.h>
 
class Secrets{
    public:
     String influx_url = "your_influxdb_url";
     String influx_token = "your_influxdb_token";
     String discord_url = "your_discord_hook";
     String  update_server = "your_update_server";
     String known_ap = "your_wifi_ssid_if_known";
     String known_ap_pw = "your_wifi_password_if_known";
};